<% provide(:title, 'Blog') %>
<h1> Blog </h1>
<div class="center hero-unit">
	<h2>Welcome to my project blog!</h2>
	This is the second project for CS 369, Web Programming.
	Don't you like this cool font and pink background?
</div>
<p>
No blog content yet, but enjoy the app!
</p>
<ul>
	<li>It would look like this!</li>
	<li>And this, too.</li>
	<li>Me three!</li>
<ul>
