<% provide( :title, 'Blog') %>
<div class="center hero-unit">
  <h1>Welcome to Leo's Project Two Blog</h1>

  <h2>
    This is a blog made by the guy who made
    <a href="http://pages.cs.wisc.edu/~leo">this</a>
    awesome website.
  </h2>

</div>
