<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Leo's Project Blog</a>
    by Leo Rudberg
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",	about_path %></li>
      <li><a href="http://wisc.edu/">Wisco!</a></li>
    </ul>
  </nav>
</footer>
