<head>
	<link href='http://fonts.googleapis.com/css?family=Asap ' rel='stylesheet' type='text/css'/>
</head>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "my blog", root_path, class: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Blog",	root_path %></li>
          <li><%= link_to "FAQ",	faq_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
